/*https://colorhunt.co/palette/139087*/
* {
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
}

.code-block {
    background: #ececec;
    height: 150px;
    width: 800px;
    padding: 25px;

}

.var-color {
    color: #207dff;
}

aside {
    position: fixed;
    background: #eee;
    top: 0;
    left: 0;
    height: 100%;

    text-align: center;

}

.headline {
    font-size: 1.5rem;
    background: #eac100;
    padding: 15px;
    color: white;
}

aside li {
    text-decoration: none;
    list-style: none;
    font-size: 1.8rem;
    padding: 10px;
    border-bottom: 1px solid black;


}

aside a {
    text-decoration: none;
}

.main-container {
    display: flex;
    flex-direction: column;
    margin: 35px;
}

#main-doc {
    float: right;
    width: 80%;
}

#main-doc h3 {
    font-size: 2rem;
    padding: 25px 0px;
}

#main-doc h4 {
    padding-top: 25px;
    padding-bottom: 15px;
}

#main-doc p {
    font-size: 1rem;
}